gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

#firebase
lib/firebase_options.dart
ios/firebase_app_id_file.json
ios/Runner/GoogleService-Info.plist
android/app/google-services.json